absl-py==1.4.0            # via -r app/requirements.txt, tensorboard, tensorflow
astunparse==1.6.3         # via -r app/requirements.txt, tensorflow
black==23.7.0             # via -r ops-requirements.txt
cachetools==5.3.1         # via -r app/requirements.txt, google-auth
certifi==2023.7.22        # via -r app/requirements.txt, requests
charset-normalizer==3.2.0  # via -r app/requirements.txt, requests
click==8.1.6              # via -r ops-requirements.txt, black
flatbuffers==23.5.26      # via -r app/requirements.txt, tensorflow
gast==0.4.0               # via -r app/requirements.txt, tensorflow
google-auth==2.22.0       # via -r app/requirements.txt, google-auth-oauthlib, tensorboard
google-auth-oauthlib==1.0.0  # via -r app/requirements.txt, tensorboard
google-pasta==0.2.0       # via -r app/requirements.txt, tensorflow
grpcio==1.57.0            # via -r app/requirements.txt, tensorboard, tensorflow
guesslang @ git+https://github.com/andydecleyre/guesslang@tensorflow-looser  # via -r app/requirements.txt
h5py==3.9.0               # via -r app/requirements.txt, tensorflow
idna==3.4                 # via -r app/requirements.txt, requests
isort==5.12.0             # via -r ops-requirements.txt
keras==2.13.1             # via -r app/requirements.txt, tensorflow
libclang==16.0.6          # via -r app/requirements.txt, tensorflow
markdown==3.4.4           # via -r app/requirements.txt, tensorboard
markdown-it-py==3.0.0     # via -r app/dev-requirements.txt, rich
markupsafe==2.1.3         # via -r app/requirements.txt, werkzeug
mdurl==0.1.2              # via -r app/dev-requirements.txt, markdown-it-py
mypy-extensions==1.0.0    # via -r ops-requirements.txt, black
numpy==1.24.3             # via -r app/requirements.txt, h5py, opt-einsum, tensorboard, tensorflow
oauthlib==3.2.2           # via -r app/requirements.txt, requests-oauthlib
opt-einsum==3.3.0         # via -r app/requirements.txt, tensorflow
packaging==23.1           # via -r app/requirements.txt, -r ops-requirements.txt, black, tensorflow
pathspec==0.11.2          # via -r ops-requirements.txt, black
peewee==3.16.3            # via -r app/requirements.txt
platformdirs==3.10.0      # via -r ops-requirements.txt, black
plumbum==1.8.2            # via -r app/requirements.txt
protobuf==4.24.0          # via -r app/requirements.txt, tensorboard, tensorflow
pyasn1==0.5.0             # via -r app/requirements.txt, pyasn1-modules, rsa
pyasn1-modules==0.3.0     # via -r app/requirements.txt, google-auth
pygments==2.16.1          # via -r app/dev-requirements.txt, rich
pytelegrambotapi==4.12.0  # via -r app/requirements.txt
python-dateutil==2.8.2    # via -r app/requirements.txt, -r ops-requirements.txt, strictyaml, yamlpath
requests==2.31.0          # via -r app/requirements.txt, pytelegrambotapi, requests-oauthlib, tensorboard
requests-oauthlib==1.3.1  # via -r app/requirements.txt, google-auth-oauthlib
rich==13.5.2              # via -r app/dev-requirements.txt
rsa==4.9                  # via -r app/requirements.txt, google-auth
ruamel-yaml==0.17.21      # via -r ops-requirements.txt, yamlpath
ruamel-yaml-clib==0.2.7   # via -r ops-requirements.txt, ruamel-yaml
six==1.16.0               # via -r app/requirements.txt, -r ops-requirements.txt, astunparse, google-auth, google-pasta, python-dateutil, tensorflow
strictyaml==1.7.3         # via -r app/requirements.txt
structlog==23.1.0         # via -r app/requirements.txt
tensorboard==2.13.0       # via -r app/requirements.txt, tensorflow
tensorboard-data-server==0.7.1  # via -r app/requirements.txt, tensorboard
tensorflow==2.13.0        # via -r app/requirements.txt, guesslang
tensorflow-estimator==2.13.0  # via -r app/requirements.txt, tensorflow
tensorflow-io-gcs-filesystem==0.33.0  # via -r app/requirements.txt, tensorflow
termcolor==2.3.0          # via -r app/requirements.txt, tensorflow
tomli==2.0.1              # via -r ops-requirements.txt, black
typing-extensions==4.5.0  # via -r app/requirements.txt, tensorflow
urllib3==1.26.16          # via -r app/requirements.txt, google-auth, requests
werkzeug==2.3.7           # via -r app/requirements.txt, tensorboard
wheel==0.41.1             # via -r app/requirements.txt, astunparse, tensorboard
wheezy-template==3.2.1    # via -r ops-requirements.txt
wrapt==1.15.0             # via -r app/requirements.txt, tensorflow
yamlpath==3.8.0           # via -r ops-requirements.txt

# The following packages are considered to be unsafe in a requirements file:
setuptools==68.0.0        # via -r app/requirements.txt, tensorboard, tensorflow
