black==25.12.0            # via -r ops-requirements.in
click==8.3.1              # via black
isort==7.0.0              # via -r ops-requirements.in
mypy-extensions==1.1.0    # via black
packaging==25.0           # via black
pathspec==0.12.1          # via black
platformdirs==4.5.1       # via black
python-dateutil==2.9.0.post0  # via yamlpath
pytokens==0.3.0           # via black
ruamel-yaml==0.17.21      # via yamlpath
six==1.17.0               # via python-dateutil
wheezy-template==3.2.4    # via -r ops-requirements.in
yamlpath==3.8.2           # via -r ops-requirements.in
