black==24.10.0            # via -r ops-requirements.in
click==8.1.8              # via black
isort==5.13.2             # via -r ops-requirements.in
mypy-extensions==1.0.0    # via black
packaging==24.2           # via black
pathspec==0.12.1          # via black
platformdirs==4.3.6       # via black
python-dateutil==2.9.0.post0  # via yamlpath
ruamel-yaml==0.17.21      # via yamlpath
ruamel-yaml-clib==0.2.12  # via ruamel-yaml
six==1.17.0               # via python-dateutil
tomli==2.2.1              # via black
typing-extensions==4.12.2  # via black
wheezy-template==3.2.3    # via -r ops-requirements.in
yamlpath==3.8.2           # via -r ops-requirements.in
