black==23.3.0             # via -r ops-requirements.in
click==8.1.3              # via black
isort==5.12.0             # via -r ops-requirements.in
mypy-extensions==1.0.0    # via black
packaging==23.1           # via black
pathspec==0.11.1          # via black
platformdirs==3.5.3       # via black
python-dateutil==2.8.2    # via yamlpath
ruamel-yaml==0.17.21      # via yamlpath
ruamel-yaml-clib==0.2.7   # via ruamel-yaml
six==1.16.0               # via python-dateutil
tomli==2.0.1              # via black
wheezy-template==3.1.0    # via -r ops-requirements.in
yamlpath==3.8.0           # via -r ops-requirements.in
