certifi==2018.1.18        # via requests
chardet==3.0.4            # via requests
idna==2.6                 # via requests
plumbum==1.6.6
pytelegrambotapi==3.6.1
pyyaml==3.12
requests==2.18.4          # via pytelegrambotapi
six==1.11.0               # via pytelegrambotapi
urllib3==1.22             # via requests
