backcall==0.2.0           # via ipython
decorator==5.2.1          # via ipython
ipython==7.34.0           # via -r dev-requirements.in
jedi==0.19.2              # via ipython
markdown-it-py==3.0.0     # via rich
matplotlib-inline==0.1.7  # via ipython
mdurl==0.1.2              # via markdown-it-py
parso==0.8.4              # via jedi
pexpect==4.9.0            # via ipython
pickleshare==0.7.5        # via ipython
prompt-toolkit==3.0.51    # via ipython
ptyprocess==0.7.0         # via pexpect
pygments==2.19.2          # via ipython, rich, -c requirements.txt
rich==14.1.0              # via -r dev-requirements.in
setuptools==80.9.0        # via ipython, -c requirements.txt
traitlets==5.14.3         # via ipython, matplotlib-inline
wcwidth==0.2.13           # via prompt-toolkit
