apsw==3.9.2.post1
certifi==2019.6.16        # via requests
chardet==3.0.4            # via requests
idna==2.8                 # via requests
peewee==3.10.0
pillow==6.1.0
pygments==2.4.2
pytelegrambotapi==3.6.6
python-dateutil==2.8.0    # via strictyaml
requests==2.22.0          # via pytelegrambotapi
ruamel.yaml.clib==0.1.2   # via ruamel.yaml
ruamel.yaml==0.16.1       # via strictyaml
six==1.12.0               # via pytelegrambotapi, python-dateutil, structlog
strictyaml==1.0.3
structlog==19.1.0
urllib3==1.25.3           # via requests
wrapt==1.11.2
