peewee
plumbum
pyTelegramBotAPI
strictyaml
structlog
wrapt

# guesslang has a problematic and strict version lock on tensorflow
guesslang @ git+https://github.com/andydecleyre/guesslang@tensorflow-looser
