apsw==3.9.2.post1
    # via -r requirements.in
certifi==2020.12.5
    # via requests
chardet==4.0.0
    # via requests
idna==2.10
    # via requests
peewee==3.14.4
    # via -r requirements.in
pillow==8.2.0
    # via -r requirements.in
pygments==2.9.0
    # via -r requirements.in
pytelegrambotapi==3.7.7
    # via -r requirements.in
python-dateutil==2.8.1
    # via strictyaml
requests==2.25.1
    # via pytelegrambotapi
ruamel.yaml.clib==0.2.2
    # via ruamel.yaml
ruamel.yaml==0.17.4
    # via strictyaml
six==1.16.0
    # via python-dateutil
strictyaml==1.4.0
    # via -r requirements.in
structlog==21.1.0
    # via -r requirements.in
urllib3==1.26.4
    # via requests
wrapt==1.12.1
    # via -r requirements.in
